<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->

<center>
<p><%= @question%></p>
<p><%= @answer%></p>
<!-- <a href="/ask">Ask a new question</a> --> <!-- this is the way of writing a link in HTML  -->
<%=link_to "Ask a new question",ask_path%>   <!-- the typical way of creating a link in rails  -->
</center>

