// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  color: red;
}

body {
  padding-top: 30px;
  background-image: url("https://unsplash.it/500/800");
  background-size: cover;
}
